html,
body {
    margin: 0;
    height: 100%;
    background-color: #2d2e2b;
    color: #f0f5e8;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 22px;


}

p {
    margin: 0px 10px 0px 10px
}

.sections {
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    height: 100%;
    display: none;



}


.section {
    transition: all 300ms;
    flex-grow: 9999999;
    flex-shrink: 0;
    text-align: center;

}

.section:hover {
    filter: brightness(0.514);

}


.page {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    display: none;
}

.selected {
    display: flex;


}

.sections:not(.selected) {
    position: fixed;
    right: 0;
    bottom: 0;
    align-items: end;
    font-size: 16px;
    display: flex;
    box-sizing: border-box;
    z-index: 9999999999;
    width: fit-content;



}





.logos {
    height: 100px;
    max-width: 100%;
}

.boxing,
.project-box div {
    background-color: #393a36;
    border-radius: 10px;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);


}

.icon {
    width: 50px;
    height: 50px;
    margin: 0px 10px 0px 10px;
    transition: 300ms;
}

.icon:hover {
    filter: brightness(0.727)
}

.header {
    justify-content: center;
    text-align: center;
}

#loal123 {

    display: inline-block;

}

#koishicon {
    margin-top: 10px;
    height: 70px;
    width: 70px;
    transition: 5.14s;
    opacity: 0.00514;

}

#koishicon:hover {
    opacity: 1
}

.project-box {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 80%;

    flex-wrap: wrap;


}

.project-box div {
    border-radius: 10px;
    height: 150px;
    max-width: 250px;
    margin: 10px;
    border: 10px;
    justify-content: center;
    text-align: center;
}





/* CSS */
.project-box a {
    background-color: #4B4D4A;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Plus Jakarta Sans";
    font-size: 15px;
    display: block;
    padding: .75rem 0.8rem;
    margin-top: 10px;

    text-align: center;
    text-decoration: none #6B7280 solid;

    transition-duration: .2s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;

    touch-action: manipulation;

}

.project-box a:hover {
    background-color: #374151;
}

.button-40:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}