html,
body {
    margin: 0;
    height: 100%;
    background-color: #2d2e2b;
    color: #f0f5e8;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 22px;


}

p {
    margin: 0px 10px 0px 10px
}

.sections {
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    height: 100%;
    display: none;



}


.section {
    transition: all 300ms;
    flex-grow: 9999999;
    flex-shrink: 0;
    text-align: center;

}

.section:hover {
    filter: brightness(0.727);

}


.page {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    display: none;
}

.selected {
    display: flex;


}

.sections:not(.selected) {
    position: fixed;
    right: 0;
    bottom: 0;
    align-items: end;
    font-size: 16px;
    display: flex;
    box-sizing: border-box;
    z-index: 9999999999;
    width: fit-content;



}





.logos {
    height: 100px;
    max-width: 100%;
}

.boxing {
    background-color: #393a36;
    border-radius: 10px;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);


}

.icon {
    width: 50px;
    height: 50px;
    margin: 0px 10px 0px 10px;
    transition: 300ms;
}

.icon:hover {
    opacity: 0.727;
}